<div class="title">{{title}}</div>

<div id="container">
<input #box (keypress)="onKey($event,box.value)" id="screen" value="{{value}}" placeholder="0">

<div class="buttons">
    <button (click)="addZero()">0</button>
    <button (click)="addOne()">1</button>
</div>

<div class="buttons">
    <button (click)="addBin()">+</button>
    <button (click)="subBin()">-</button>
</div>

<div class="button-equals">
    <button (click)="endBin()">=</button>
    <button (click)="clearBin()">C</button>
</div>
<!-- <p>{{result}}</p>
<P *ngFor="let i of signTab" >
    {{i}}</P>
    <p>{{values[0]}}</p>
    <p>{{values[1]}}</p>
    <p>{{values[2]}}</p>
    <p>{{decimal}}</p>
    <p>{{binary}}</p> -->
</div>